<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened
        fixedInViewport="true" fixedTopGap="0">
        <mat-nav-list class="nav-list">
            <a mat-list-item href="https://frwk.com.br/" style="font-weight: 600;">
                Framework
            </a>
            <a [routerLink]="['']" mat-list-item>
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a [routerLink]="['/films']" mat-list-item>
                <i class="material-icons">
                    movie_creation
                </i>
                Filmes
            </a>
            <a [routerLink]="['/peoples']" mat-list-item>
                <i class="material-icons">
                    person
                </i>
                Personagens
            </a>
            <a [routerLink]="['/planets']" mat-list-item>
                <i class="material-icons">
                    travel_explore
                </i>
                Planetas
            </a>
            <a [routerLink]="['/species']" mat-list-item>
                <i class="material-icons">
                    emoji_nature
                </i>
                Espécies
            </a>
            <a [routerLink]="['/starships']" mat-list-item>
                <i class="material-icons">
                    rocket_launch
                </i>
                Naves
            </a>
            <a [routerLink]="['/vehicles']" mat-list-item>
                <i class="material-icons">
                    commute
                </i>
                Veículos
            </a>
            <a [routerLink]="['/login']" mat-list-item class="login">
                <i class="material-icons">
                    login
                </i>
                Login
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>