<body>
    <table class="table table-striped">
      <h1>Personagens</h1>
    </table>
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Altura</th>
          <th scope="col">Peso</th>
          <th scope="col">Cor do Cabelo</th>
          <th scope="col">Cor dos Olhos</th>
          <th scope="col">Cor da pele</th>
          <th scope="col">Ano de nascimento</th>
          <th scope="col">Gênero</th>
          <th scope="col">Criado em:</th>
          <th scope="col">Editado em:</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let people of peoples">
            <th scope="row">{{ people.name }}</th>
            <td>
              <img class="mr-2" style="text-align: left;">
              {{ people.height }}
            </td>
            <td>
              <img class="mr-2" style="text-align: left;">
              {{ people.mass }}
            </td>
            <td>
              <img class="mr-2"  style="text-align: left;">
              {{ people.hair_color }}
            </td>
            <td>
              <img class="mr-2" style="text-align: left;">
              {{ people.skin_color }}
            </td>
            <td>
              <img class="mr-2" style="text-align: left;">
              {{ people.eye_color }}
            </td>
            <td>
              <img class="mr-2" style="text-align: left;">
              {{ people.birth_year }}
            </td>
            <td>
              <img class="mr-2" style="text-align: left;">
              {{ people.gender }}
            </td>
            <td>
              <img class="mr-2" style="text-align: left;">
              {{ people.created | date : 'dd/MM/yyyy' }}
            </td>
            <td>
              <img class="mr-2" style="text-align: left;">
              {{ people.edited | date : 'dd/MM/yyyy' }}
            </td>
          </tr>
        </tbody>
      </table>
</body>
