<body>

<table class="table table-striped">
  <h1>Planetas</h1>
</table>
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Período de rotação</th>
      <th scope="col">Período em orbita</th>
      <th scope="col">Diâmetro</th>
      <th scope="col">Clima</th>
      <th scope="col">Gravidade</th>
      <th scope="col">Terreno</th>
      <th scope="col">Superfície de água</th>
      <th scope="col">População</th>
      <th scope="col">Criado em:</th>
      <th scope="col">Editado em:</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let planet of planets">
        <th scope="row">{{ planet.name }}</th>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ planet.rotation_period }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ planet.orbital_period }}
        </td>
        <td>
          <img class="mr-2"  style="text-align: left;">
          {{ planet.diameter }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ planet.climate }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ planet.gravity }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ planet.terrain }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ planet.surface_water }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ planet.population }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ planet.created | date : 'dd/MM/yyyy' }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ planet.edited | date : 'dd/MM/yyyy' }}
        </td>
      </tr>
    </tbody>
  </table>

</body>
