<body class="bodyHome">
  <div>
      <h3 style="text-align: center;">Login</h3> <br>
  </div>
  <div class="row">
    <div class="input-field col s12 center">
      <form action="https://igorpatrociniofrwk.github.io/swapi/entrar">
        <label for="email">Email:</label>
        <input type="email" id="username" name="email" required>
        <label for="password">Senha:</label>
        <input id="password" type="password" name="password" required>
        <br><br>
        <div class="botao">
        <a [routerLink]="['']" class="waves-effect grey darken-1 btn">Voltar</a>
        <input type="submit" value="Login">
        </div>
      </form>
     </div>  
  </div>
</body>