<div class="bodyHome">
  <div class="row">
    <div>
        <h3 style="text-align: center;">Login </h3> <br>
        <p style="text-align: center;">Entre para ter acesso ao programa</p>
    </div>
    <div class="input-field col s12 center">
        <label for="usuario">Email:</label>
        <input [(ngModel)]="usuario.nome" id="usuario" type="email" class="validate" required style="width: 210px;">
        <label for="senha">Senha:</label>
        <input [(ngModel)]="usuario.senha" id="senha" type="password" class="validate" required style="width: 210px;">
        <br><br>
        <button type="submit" class="btn" name="action" (click)="fazerLogin()">
          Login
        </button>
     </div>  
  </div>
</div>