table {
    margin: 15px;
}
.row{
   margin: 8px; 
}
.botao{
    left: 48%;
    top: -50%;
    margin-left: -50px;
    margin-top: 230px;
    position: absolute;
    width:200px;
    height:100px;
}
.bodyHome {
    left: 48%;
    top: 25%;
    margin-left: -70px;
    margin-top: 0px;
    position: absolute;
    width:200px;
    height:100px;
}
.login {
    position: absolute;
    right: 10px;
    display:flex;
    border: 3px solid rgb(255, 0, 0);
    top: 4px;
}