<nav  class="navbar navbar-expand-lg navbar-dark" style="background-color: #5f3473;">
  <a class="navbar-brand" href="https://frwk.com.br/" style="font-weight: 600;">Framework</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a [routerLink]="['']" class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a [routerLink]="['/films']" class="nav-link" >Filmes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a [routerLink]="['/peoples']" class="nav-link">Personagens <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a [routerLink]="['/planets']" class="nav-link">Planetas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a [routerLink]="['/species']" class="nav-link">Especies <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Naves <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a [routerLink]="['/vehicles']" class="nav-link">Veiculos <span class="sr-only">(current)</span></a>
      </li>
      <li class="login">
        <a [routerLink]="['/login']" class="nav-link" style="color:white">Login <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<body>

<table class="table table-striped">
  <h1>Naves</h1>
</table>
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Modelo</th>
      <th scope="col">Montadora</th>
      <th scope="col">Preco</th>
      <th scope="col">Largura</th>
      <th scope="col">Velocidade maxima</th>
      <th scope="col">Tripulacao</th>
      <th scope="col">Passageiros</th>
      <th scope="col">Capacidade de Carga</th>
      <th scope="col">Consumiveis</th>
      <th scope="col">Hiperdrive</th>
      <th scope="col">MGLT</th>
      <th scope="col">Classe</th>
      <th scope="col">Criado em</th>
      <th scope="col">Editado em</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let starship of starships">
        <th scope="row">{{ starship.name }}</th>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ starship.model }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ starship.manufacturer }}
        </td>
        <td>
          <img class="mr-2"  style="text-align: left;">
          {{ starship.cost_in_credits }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ starship.length }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ starship.max_atmosphering_speed }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ starship.crew }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ starship.passengers }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ starship.cargo_capacity }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ starship.consumables }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ starship.hyperdrive_rating }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ starship.MGLT }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ starship.starship_class }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ starship.created | date : 'dd/MM/yyyy' }}
        </td>
        <td>
          <img class="mr-2" style="text-align: left;">
          {{ starship.edited | date : 'dd/MM/yyyy' }}
        </td>
      </tr>
    </tbody>
  </table>

</body>
