<nav  class="navbar navbar-expand-lg navbar-dark" style="background-color: #5f3473;">
    <a class="navbar-brand" href="https://frwk.com.br/" style="font-weight: 600;">Framework</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a [routerLink]="['']" class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a [routerLink]="['/films']" class="nav-link" >Filmes <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a [routerLink]="['/peoples']" class="nav-link">Personagens <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a [routerLink]="['/planets']" class="nav-link">Planetas <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a [routerLink]="['/species']" class="nav-link">Especies <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a [routerLink]="['/starships']" class="nav-link">Naves <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a [routerLink]="['/vehicles']" class="nav-link">Veiculos <span class="sr-only">(current)</span></a>
        </li>
        <li class="login">
          <a [routerLink]="['/login']" class="nav-link" style="color:white">Login <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <body class="bodyHome">
    <div>
        <h3>Seja bem-vindo</h3> <br>
        <p> Aplicação desenvolvida para puxar dados da SWAPI.</p>
        <p> Use o menu de navegação acima para navegar entre as páginas.</p>
    </div>
  </body>
    
